/* Estilo para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 24px;
}

nav ul {
    /* Cor de fundo para a lista */
    margin-top: 10px;
    padding: 10px 0;
    /* Espaçamento interno superior e inferior */
    list-style: none;
    /* Remover marcadores de lista */
}

nav ul li {
    display: inline;
    margin-right: 10px;
    font-size: 16px;
    /* Tamanho da fonte para os itens da lista */
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
    --bs-border-radius: 30px;
}

nav ul li a:hover {
    color: #ff5733;
    /* Cor do texto dos links ao passar o mouse */
}


/* Estilo para a seção de eventos */
.events {
    padding: 20px;
}

article {
    background-color: #f0f0f0;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}

article h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

article p {
    color: #555;
}

/* Estilo para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}