/* Estilo para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 24px;
}

/* Estilo para a lista ul */
nav ul {
    list-style: none;
    margin-top: 10px;
    padding: 10px;
    /* Espaço superior entre a lista e o cabeçalho */
}

nav ul li {
    display: inline;
    margin-right: 10px;
    font-size: 16px;
    /* Tamanho da fonte */
}

nav ul li a {
    text-decoration: none;
    /* Remova sublinhado dos links */
    color: #fff;
    /* Cor do texto dos links */
    transition: color 0.3s ease;
    /* Transição de cor suave ao passar o mouse */
    --bs-border-radius: 30px;
}

nav ul li a:hover {
    color: #ff5733;
    /* Cor do texto dos links ao passar o mouse */
}


/* Estilo para a seção de notícias */
.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

article {
    background-color: #f0f0f0;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

article h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

article p {
    color: #555;
}

article img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

article a {
    text-decoration: none;
    color: #0077cc;
    font-weight: bold;
}

article a:hover {
    color: #ff5733;
}

/* Estilo para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
