/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    /* Cor de fundo geral */
}

/* Estilos para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    background-color: #333;
    /* Cor de fundo para a lista */
    margin-top: 10px;
    padding: 10px 0;
    /* Espaçamento interno superior e inferior */
    list-style: none;
    /* Remover marcadores de lista */
}

nav ul li {
    display: inline;
    margin-right: 10px;
    font-size: 16px;
    /* Tamanho da fonte para os itens da lista */
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
    --bs-border-radius: 30px;

}

nav ul li a:hover {
    color: #ff5733;
    /* Cor do texto dos links ao passar o mouse */
}



/* Estilos para a seção principal */
.main-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para a lista dentro da seção principal */
.main-content ul {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    /* Espaçamento inferior entre os itens da lista */
}

.main-content ul li {
    margin-bottom: 10px;
    /* Espaçamento inferior entre os itens da lista */
}

.main-content ul li a {
    text-decoration: none;
    /* Remova sublinhado dos links */
    color: #1d2221;
    /* Cor do texto dos links */
    transition: color 0.3s ease;
    /* Transição de cor suave ao passar o mouse */
}

.main-content ul li a:hover {
    color: #ff5733;
    /* Cor do texto dos links ao passar o mouse */
}

.main-content ul li:last-child {
    margin-bottom: 0;
    /* Remover espaçamento inferior do último item da lista */
}


/* Estilos para a seção de recursos especiais */
.features {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.feature {
    flex-basis: calc(33.33% - 20px);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.feature img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.feature h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.feature p {
    font-size: 16px;
    line-height: 1.5;
}

/* Estilos para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

footer p {
    margin: 0;
}

/* Adicione uma media query para tamanhos de tela menores */
@media (max-width: 768px) {
    nav ul li {
        margin-right: 10px;
        font-size: 14px;
    }

    .main-content {
        max-width: 90%;
        margin: 20px auto;
        padding: 10px;
    }

    .main-content ul {
        font-size: 14px;
    }

    .features {
        flex-direction: column;
        /* Altera a direção do flex container para coluna */
        align-items: center;
        /* Centraliza os elementos horizontalmente */
    }

    .feature {
        flex-basis: 100%;
        /* Define largura total para ocupar toda a largura da tela */
        margin-bottom: 20px;
        /* Adiciona espaço entre as divs */
    }
}